LOGZILLA_INSTANCE=http://logzilla.company.com
API_KEY=6160ce50a098067f31d1acc72396b31c4518a5ca7b178538

# For the 2 params below, multiply to get the total wait time.
# e.g.: 300*2 would mean:
# "wait up to 600 seconds for a long query
#  before bailing out"
# How many attempts to make on long queries
QUERY_MAX_ATTEMPTS=300
# How long to wait between progress queries
QUERY_DELAY=2


